
@{
    ViewData["Title"] = "Create";
}


<div class="container my-5">

    <form class="forms-smaple">


    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"> Add News title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Text">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"> Add Coruse Author</label>
        <input type="Text" class="form-control" id="exampleFormControlInput1" placeholder="Text">
    </div>


    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"> Add Event Date</label>
        <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="date">
    </div>



   
        <div class="input-group mb-3">

            
            <input type="file" class="form-control" id="customFile" />

        </div>


        <div class="buttons my-3">

            <button type="submit" class="btn  btn-primary mr-2 ">Submit</button>
            <a class="btn btn-info" asp-action="Index">Cancel</a>
        </div>
    </form>


</div>

