
@{
    ViewData["Title"] = "Create";
}


<div class="container my-5">

    <form class="forms-smaple">



        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"> Add Slide Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Text">
        </div>



        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"> Add Slide Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

       

    <div class="input-group mb-3">
           
       <input type="file" class="form-control" id="customFile" />
           
       <input type="file" class="form-control" id="customFile" />

    </div>


    <div class="buttons my-3">
        
        <button type="submit" class="btn  btn-primary mr-2 ">Submit</button>
        <a class="btn btn-info" asp-action="Index">Cancel</a>
    </div>
    </form>


</div>


