@model CourseDetailVM

@{
    ViewData["Title"] = "Detail";
}



   

<div style="padding-left:170px" class="container my-5">

    <h2 style="color:darkcyan; text-align:center;" class="mt-3"> Prodcut detail</h2>

    <div class="form-group">
        @foreach (var item in Model.Images)
        {
            <img style="width:150px; height:150px;" src="~/images/@item.Image" />
          
        }

    </div>4

    <div class="form-group">
        <label style="color:darkred" class="mt-2">Name </label>
        <input class="form-control" id="customFile" asp-for="Name" disabled />   @*Bu asp-for="Name"  Category nin ichinde olan name propertisidi ve eger inputlarim coxdusa deyisecek onlar *@


    </div>


    <div class="form-group">

        <label style="color:darkred" class="mt-2">Description </label>
        <input class="form-control" asp-for="Description" value="@ViewBag.desc" disabled />  @*value="@ViewBag.desc" colden gonderiyiiz regex methodurki viewbag ile gonderdik bu descriptionda inputun icinde ckeeditorun html kodalarini yeni taglari gosdermir *@

    </div>


    <div class="form-group">


        <label style="color:darkred" class="mt-2">Price</label>
        <input type="text" class="form-control" id="customFile" asp-for="Price" disabled />    @*Bu asp-for="Name"  Category nin ichinde olan name propertisidi ve eger inputlarim coxdusa deyisecek onlar *@


    </div>

    <div class="form-group">
        <label style="color:darkred" class="mt-2">Count</label>
        <input class="form-control" id="customFile" asp-for="CountSale" disabled />    @*Bu asp-for="Name"  Category nin ichinde olan name propertisidi ve eger inputlarim coxdusa deyisecek onlar *@
        <span class="text-danger" asp-validation-for="CountSale"></span>

    </div>

    <div class="form-group">
        <label style="color:darkred" class="mt-5">Category</label>
        <input class="form-control" id="customFile" asp-for="AuthorName" disabled />

        @* asp-for="CategoryId" bu ise bize catgeryy idni veriri yeni selecte click endende // asp-items="@ViewBag.categories" budurki bize textinde Nameini siralayir men gelirem hemin texte vuranda id sini gonderir sohbet burdan gedir colden view bag ile gonderdiknew SelectList(categories, "Id", "Name");  *@

    </div>







    <div class="form-group">

        <div class="buttons my-3">

            <a class="btn btn-info mt-5" asp-action="Index">Back</a>

        </div>
    </div>



</div>


